<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layout/header') %>
        <title>STUCKoverflow - HOME</title>
        <link rel="stylesheet" href="stylesheets/home.css" type="text/css">
</head>

<body>
    <!-- HEADER -->
    <%- include ('layout/layout') %>

        <!-- BODY -->
        <div class="container-post">
            <div class="content-body">
                <form action="/" method="POST" class="what-header" enctype="multipart/form-data">
                    <input type="text" name="content" placeholder="What's up?">
                    <input type="file", name="foto">
                    <div class="post-btn">
                        <input type="submit" value="POST">
                    </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="post-content">
            <% postingan.forEach(post => { %>
                <img class="rounded mx-auto d-block" src="/images/<%= post.image %>" alt="" width="150px">
                <p class="main-post"> <%= post.content %> </p>
                <form action="/comment/<%= post._id %>" method = "POST" class="reply-post">
                    <a href="/like/<%= post._id %>/up" class="up-btn btn btn-primary">
                        UP | <%= post.likeUp %>
                    </a>
                    <a href="/like/<%= post._id %>/down" class="down-btn btn btn-danger"> 
                        DOWN | <%= post.likeDown %>
                    </a>
                    <input type="text" name="reply" placeholder="comment me">
                    <button type="submit">Reply</button>
                </form>
                <% post.comment.forEach(cmt => { %>
                    <p><%= cmt.content %> </p>
                <% }) %>
                <hr>
            <%});%>
        </div>

</body>

</html>